/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Central Logo */
#central-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Ensure it appears above the rotating thumbnails */
}

#central-logo img {
  width: 30vmin; /* Use vmin for consistent scaling */
  height: auto;
  cursor: pointer;
}

/* Circle Container */
#circle-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
}

/* Circle Content */
#circle-content {
  position: relative;
  width: 0;
  height: 0;
  transform-origin: center center;
  animation: rotate 100s linear infinite;
}

/* Game Items */
.game-item {
  position: absolute;
  bottom: 0;
  left: 0;
  --num-items: 7;
  --index: 0;
  --angle: calc(360deg / var(--num-items) * var(--index));
  transform-origin: center bottom;
  transform: rotate(var(--angle)) translateY(-30vmin); /* Use vmin */
}

.game-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.game-button img {
  width: 15vmin; /* Use vmin */
  height: auto;
  transition: transform 0.3s, box-shadow 0.3s;
}

.game-button:hover img {
  transform: scale(1.8);
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

/* Circle Rotation Animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Modal Styles */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it appears above all other content */
}

#modal-content {
  position: relative;
  width: 750px;            /* Set modal width to match your PNG */
  height: 540px;           /* Set modal height to match your PNG */
  background-color: transparent; /* Make modal background transparent */
}

#modal-image {
  width: 100%;
  height: 100%;
}

#play-button {
  position: absolute;
  bottom: 40px;               /* 40px above the bottom of the image */
  left: 50%;
  transform: translateX(-50%);
  border-color: #000;
  border-width: 8px;
  border-radius: 8px;
  padding: 8px 24px;
  font-size: 24px;
  font-family: Comic Sans MS;
  cursor: pointer;
}