/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  background-color: #f0f0f0 ;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Game Container */
#gameContainer {
  text-align: center;
  color: #000;
  font-family: Comic Sans MS, sans-serif;
}

/* Game Title */
#gameContainer h1 {
  margin-bottom: 20px;
  font-size: 48px;
  text-shadow: 0px 0px #fff;
}

/* Scoreboard Styling */
#scoreBoard {
  margin: 10px 0 20px 0;
  font-size: 24px;
}

/* Canvas Styling */
#gameCanvas {
  background-color: #34495e;
  border: 2px solid #ecf0f1;
  display: block;
  margin: 0 auto;
}
